@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
	font-family: "Ubuntu",sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* transition: all .3s linear; */
}
:root{
	--violet:rgb(128,81,154);
	--white: #fff;
	--gray: #f5f5f5;
	--black1: #222;
	--black2: #999;
}
body{
	min-height: 100vh;
	overflow-x: hidden;
}
::selection {
    background-color: rgb(218, 188, 255);
}
.error {
    background-color: rgb(218, 188, 255);
    padding: 6px 12px;
    font-size: 22px;
    border-radius: 10px;
}
::-webkit-scrollbar {
	background-color: transparent;
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(128,81,154);
	border-radius: 2px;
}